/* Prevent scroll on page load */
body {
  overflow-y: hidden;
}

/* General improvements */
.MuiTypography-h6 {
  font-weight: bold;
}

.MuiButton-contained {
  transition: background-color 0.3s ease;
}

.MuiButton-contained:hover {
  background-color: #3e8e41;
}
