.commuter-container {
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
  }
  
  .vehicle-route-panel {
    margin-top: 20px;
  }
  
  .vehicle-route {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .vehicle {
    font-weight: bold;
  }
  
  .route {
    color: gray;
  }
  
  .map-container {
    flex-grow: 1;
    position: relative;
  }
  
  .header-title {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
  }
  