.table-container {
    margin-top: 16px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* Adds shadow effect */
    border-radius: 8px; /* Adds rounded corners */
  }
  
  .table-container th {
    background-color: #4CAF50; /* Green background for header */
    color: white; /* White text color for header */
    text-align: left;
  }
  
  .table-container td,
  .table-container th {
    padding: 8px; /* Adds padding to table cells */
  }
  
  .table-container tr:nth-child(even) {
    background-color: #f2f2f2; /* Adds alternate row coloring */
  }
  
  .table-container tr:hover {
    background-color: #ddd; /* Changes color on hover */
  }
  
  /* Specific styles for the icon buttons */
  .MuiIconButton-root {
    transition: color 0.3s ease;
  }
  
  .MuiIconButton-root:hover {
    color: #ff9800; /* Hover color effect */
  }
  